<div class="modal-header">
    <h3 class="modal-title">{{editMode ? 'Edit Contact' : 'Add Contact'}}</h3>
</div>
<div class="modal-body" stop-event="touchend">
    <form novalidate angular-validator name="contactForm" angular-validator-submit='editMode ? editContact() : saveContact()'>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input id="firstname" class="form-control" name="firstname" type="text" placeholder="*First Name" ng-model="contact.firstname" ng-minlength="3" invalid-message="'Minimum 3 characters'" required>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <input name="lastname" type="text" ng-model="contact.lastname" class="form-control" placeholder="*Last Name" ng-minlength="3" invalid-message="'Minimum 3 characters'" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <input name="email" type="email" class="form-control" placeholder="*Email" invalid-message="'Please use a valid email (email@example.com)'" ng-model="contact.email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <input name="phone" type="text" class="form-control" placeholder="*Phone" ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/" invalid-message="'Please enter a valid phone number (555-456-7891)'" ng-model="contact.phone" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <input name="address" type="text" class="form-control" ng-model="contact.address" placeholder="Address">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <input name="city" type="text" class="form-control" ng-model="contact.city" placeholder="City">
            </div>
            <div class="col-sm-6 form-group">
                <input name="state" ng-model="contact.state" type="text" class="form-control" placeholder="State">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <country-select cs-priorities="US" ng-model="contact.country" class="form-control"></country-select>
            </div>
            <div class="col-sm-6 form-group">
                <input name="zip" type="text" class="form-control" ng-model="contact.zip" placeholder="Zip Code">
            </div>
        </div>
        <button class="btn btn-success" type="submit">{{editMode ? 'Done' : 'Save'}}</button>
    </form>
</div>
