<div class="jumbotron">
    <p>A super sweet list of all the awesome people I know!</p>
    <button type="button" class="btn btn-primary" ng-click="open()">Add Contact</button>
</div>
<div class="row">
    <div ng-repeat="contact in contacts">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{contact.firstname}} {{contact.lastname}}</h3>
                </div>
                <div class="panel-body">
                    Email: {{contact.email}}
                    <br> Phone: {{contact.phone}}
                    <br> Address: {{contact.address}}
                    <br> {{contact.city}}, {{contact.state}} {{contact.zip}}
                    <br> {{contact.country}}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-xs btn-danger" ng-click="contacts.$remove(contact)">delete</button>
                    <button class="btn btn-xs btn-default" ng-click="open(contact)">edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
